
<ol class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home" ></span> Home</a></li>
  <li class="active"><%= @search_term %></li>
</ol>

<div class="container-fluid">
    <h1>Find out what people think of:</h1>
    <ul class="unstyled">
        <% @technologies.each do |technology| %>
            <li class="row-fluid">
                <h2><%= link_to technology[:name], technology_path(technology), class: "span12" %></h2>
            </li>
        <% end %>
    </ul>

    <p>Something missing? <%= link_to "add new", new_technology_path(:technology_type_id => @technology_type.id), class: "btn" %></p>
</div>
