<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1 offset5 lead">
            What
        </div>
        <div class="span8 offset2">
            <% @types.each do |type| %>
                <%= link_to type.name, tech_index_path(:technology_type_id => type.id),
                            :class=>"btn btn-primary" %>
            <% end %>
        </div>
        <div class="span2 offset5 lead">
            should I use?
        </div>
    </div>
</div>
