<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 lead text-center">
            What
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 text-center">
            <% @types.each do |type| %>
                <%= link_to type.name, technology_index_path(:technology_type_id => type.id),
                            :class=>"btn btn-primary" %>
            <% end %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 lead text-center">
            should I use?
        </div>
    </div>
</div>
