
<div class="container">
    <h1>What do people think of</h1>
    <ul>
        <% @technologies.each do |technology| %>
            <li>
                <%= link_to technology[:name], tech_url(technology) %>
            </li>
        <% end %>
    </ul>

    <p>Something missing? <%= link_to "add new", new_technology_path, class: "btn" %></p>
</div>
