<% content_for :search_form do %>
    <% form_for :search, url: tech_index_path,
                html: {class: "navbar-form pull-left"}, method: "GET" do |f| %>
        <%= f.text_field :tech, placeholder: "rails"%>
        <%= f.submit "search", :class=>"btn" %>
    <% end %>
<% end %>

<div class="container">
    <h1>What do people think of</h1>
    <ul>
        <% @technologies.each do |technology| %>
            <li>
                <%= link_to technology[:name], tech_url(technology) %>
            </li>
        <% end %>
    </ul>

    <p>Something missing? <%= link_to "add new", new_technology_path, class: "btn" %></p>
</div>
