// Place all the styles related to the technology controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset.tech {
  margin-bottom: 0px;
  padding: 2px 0px;
}

.metadata {
  display:inline-block;
  margin: 20px;
}

.rating {
  //width: 100px;
  //height: 20px;
  cursor: pointer;
}

.review-form {
  cursor: pointer;
  display:inline-block;
  margin-right:-7px;
  padding-right:2px;
  padding-left:5px;
  margin-bottom:0px;
}

.text-review {
  margin-bottom:0;
}

.iconless-button {
  border: none;
  padding: 0px;
  margin: 0px;
  background:none;
}

.meta-review .iconless-button:hover {
  color: green;
}

.meta-review {
  display: inline-block;
}

.review-text {
  display: inline-block;
}

.review-headline {
  display: inline-block;
}

.low-review-count {
  color: gray;
}

.star-group {
  white-space: nowrap;
}

